<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{ server_descr | upper }}</h2>
    <pre><code>{{ cowsay_output.stdout }}</pre></code>
    <small>Server was deployed: on {{ deploy_date_day }} at {{ deploy_date_time }} </small>
</body>
</html>
